/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 23, 2015, 12:24:59 PM
    Author     : bhaberbe
*/
            .removeInfo{
                font-size: 14px;
                color: red;
                cursor: pointer;
                float: right;
            }
            input[type="button"]{
                padding:5px;
                background-color: black;
                border: 1px solid white;
                cursor: pointer;
                font-family: "Comic Sans MS", cursive, sans-serif;
                color: white;
                font-variant: small-caps;
            }
            input[type="button"]:hover{
                box-shadow: 0px 0px 13px 1px;
            }
            .mainBlock{
                position: relative;
                box-shadow: 0px 0px 13px 3px;
                margin: 0 auto;
                padding: 10px 10px 10px 30px;
                text-align: center;
                background-color: black;
                z-index: 2;
                width: auto;
                height: 100%;
            }
            .imgAdditionArea{
                display: none;
                position: relative;
                width: 1000px;
            }
            .intro{
                display: block;
            }
            .start{
                display: none;
            }
            .info{
                display: none;
            }
            p{
                font-size: 10pt;
                color: black;
                margin: 15px 0px;
                color: white;
                font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
            }
            .label{
                display: inline-block;
                margin-right: 10px;
            }
            .sbsSquare{
                width: 32%;
                border: 1px solid black;
                display: inline-table;
                height: 300px;
                padding-top:50px;
                margin-bottom: 15px;
            }
            .sbsSquare p:first-letter{
                text-transform: uppercase;
            }
            .sbsSquare p {
                font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
                letter-spacing:0.1em;
                text-align:center;
                text-transform: lowercase;
                line-height: 145%;
                font-size: 14pt;
                font-variant: small-caps;
                padding: 0px 10px;
            }
            .sbsSqaure h2{
                font-size: 16pt;
                font-family:Georgia,serif;
                color:#4E443C;
                font-variant: small-caps; text-transform: none; font-weight: 100; margin-bottom: 0;
            }
            body{
                z-index: 1;
                background-image: url("../images/BrokenBook01.jpg");
                background-repeat: repeat;
            }
            .hoverBlue:hover{
                box-shadow: 0px 0px 13px 3px rgb(0,255,255);
            }
            .hoverGreen:hover{
                box-shadow: 0px 0px 13px 3px rgb(0,204,0);
            }
            .hoverRed:hover{
                box-shadow: 0px 0px 13px 3px rgb(255,0,127);
            }
            ul{
                margin: 10px 0px;
            }
            li{
                list-style-type: none;
            }
            #contextForm{
/*                    border-bottom: 2px solid rgb(0,204,0);
                    border-right: 2px solid rgb(0,204,0);
                    border-left: 2px solid rgb(0,204,0);*/
                position: relative;
                height: auto;
                text-align: left;
            }
            #contentForm{
/*                    border-bottom: 2px solid rgb(0,255,255);
                    border-right: 2px solid  rgb(0,255,255);
                    border-left: 2px solid  rgb(0,255,255);*/
                position: relative;
                height: auto;
                text-align: left;
            }
            #carrierForm{
/*                    border-bottom: 2px solid rgb(255,0,127);
                    border-right: 2px solid rgb(255,0,127);
                    border-left: 2px solid rgb(255,0,127);*/
                position: relative;
                height: auto;
                text-align: left;
            }
            #contextForm table{
                margin: 0 auto;
            }
            #contentForm table{
                margin: 0 auto;
            }
            #carrierForm table{
                margin: 0 auto;
            }
            /* 380px is the widest  label */
            li input[type="text"]{
                position:relative;
                height: 22px;
                left:380px;
            }
            li textarea{
                position: relative;
                left:380px;
                height: 44px;
            }
            #notesForm{
                border-bottom: 2px solid yellow;
                border-right: 2px solid yellow;
                border-left: 2px solid yellow;
                position: relative;
                height: auto;
            }
            .infoPart{
                margin: 10px 0px;
            }
            #previousOwners{
                width: 300px;
            }
            .formLabel{
                font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
                letter-spacing:0.1em;
                text-align:center;
                text-transform: lowercase;
                line-height: 145%;
                font-size: 12pt;
                font-variant: small-caps;
                padding: 0px 10px;
            }
            .Blo{
                position: relative;
                width: 1000px;
                display: none;
            }
            .previewImg{
                height: 200px;
                width: auto;
                position: relative;
            }
            .start .previewImg, .info .previewImg{
                margin-bottom:20px;
            }
            .leaf{
                position: relative;
                display: inline-block;
                width:72%;
            }
            .sideBarInfo{
                position: relative;
                height: auto;
                width: 27%;
                z-index: 2;
                float: left;
                overflow-x: visible;
                top: 20px;
            }
            #whatPiece{
                position: relative;
                height:auto;
            }
            #folioSide1{
                position: relative;
                display: block;
                height: 170px;
                width: 155px;
                margin-right:25px;
                background-color: black;
                color: white;
                border: 1px solid white;
                margin-bottom: 13px;
                margin-top: 13px;
                    
            }
            #folioSide2{
                position: relative;
                display: block;
                height: 170px;
                width: 155px;
                background-color: black;
                color: white;
                border: 1px solid white;
            }
            #oneAndtwo{
                position: relative;
                display: block;
                height: 170px;
                width: 200px;
                background-color: black;
                color: white;
                border: 1px solid white;
                margin-bottom: 5px;
            }
            .addedInformation{
                border: 2px solid white;
                position: relative;
                min-height:50px;
                width: 100%;
                display: none;
            }
            #formTabs{
                position: relative;
                border:2px solid black;
                height:100%;
                width:100%;
                left: 0%;
                top : 4px;
            }
            #formTabs p{
                color: black;
            }
            #formTabs ul li i{
                cursor: help;
            }
            .helperContent{
                display: none;
                position: absolute;
                left: 67%;
                top: 0px;
                z-index: 4;
                background-color: #808080;
                border: 1px solid #F00;
                font-size: 10pt;
            }
            #fullImgContainer{
                position: absolute;
                top: 4px;
                height: 500px;
                width: 400px;
                left: 300px;
                background-color: black;
                display: none;
                z-index: 3;
            }
            #fullImageShade{
                position: absolute;
                height: 100%;
                width: 100%;
                z-index: 2;
                background-color: black;
                opacity: .4;
                top: 0px;
                left: 0px;
                display: none;
            }
            #leafAdditionLabel{
                color: white;
                text-align: left;
                position: relative;
                font-weight: bold;
                font-size: 14pt;
                left: -10px;
            }
            .closeBtn{
                top: 0px;
                right: 0px;
                color: white;
                border: 1px solid white;
                padding: 2px;
                position: absolute;
            }
            #fullImgContainer img{
                max-height: 480px;
                top: 20px;
                position: relative;
                max-width: 400px;
            }
            .content{
                border: 2px solid black;
            }
            select{
                border: 2px solid black;
            }
            #saveMetadata{
                position: relative;
                display: inline-block;
                bottom: 0px;
                left:254px;
                margin-top: 11px;
            }
            #cancelMetadata{
                position: relative;
                display: inline-block;
                bottom: 0px;
                left:254px;
            }
            *:focus{
                    outline: none;
            }
            li[role="tab"]{ /* Forces Bottom Border under tabs */
                border-bottom: 1px solid black !important;
            }
            li[role="tab"].ui-tabs-active{
                border-bottom: transparent !important;
            }
            .ui-corner-all{
                border:none !important; /* Get rid of bevels */
            }
            .ui-tabs-anchor{ /* Tab markers. */
                font-variant: small-caps !important;
                font-size: 10pt !important;
                color: black !important;
            }
            .ui-tabs, .ui-tabs-nav{
                padding: 0px !important;
            }
            .ui-state-active{
                    outline: none;
            }
            .ui-tabs-active{
                
            }
            .ui-tabs-panel{
                min-height:474px !important; /* Forces content area under tab to have a min height that works with the side area.  */
                max-height: 474px !important;
                border: none !important;
                overflow-y: auto;
            }
            .ui-widget-content{
/*                min-height:534px !important;  Forces content area under tab to have a min height that works with the side area.  
                max-height: 534px !important;
                border: none !important;
                overflow-y: auto;*/
            }
            .ui-widget-header{
                background-image: none !important;
                background-color: black !important;
                border: none !important;
            }
            .ui-state-default, .ui-state-hover{ /* background color of tabs and hover */
                background-image: none !important;
                background-color: #FFF !important;
            }
            #serverLogin{
                position: relative;
                border: 1px solid black;
            }
            #serverLoginFrame{
                position: relative;
            }
            .selectedFolio{
                width: 104% !important;
                background-color: white !important;
            }
            #initials, #borders, #lines, #columns, #leafDim, #tbDim, #lineDim, #inter, #marginal{
                display: none;
            }
            .leafTemplate{
                position: relative;
            }
            .versoCanvas{
                position: relative;
                display: inline-table;
                width: 48%;
                text-align:center;
                border: 2px solid black;
            }
            .rectoCanvas{
                position: relative;
                display: inline-table;
                width:48%;
                text-align: center;
                border: 2px solid black;
            }
            .rectoImg{
                position: relative;
                background-image: url('http://dimplify.com/images/upload-image-thumb.jpg');                   
                max-height: 140px;
                max-width:120px;
                background-size: 120px 140px;
                min-height: 140px;
                min-width:120px;
                display: inline-block;
/*                    display: none;*/
            }
            .versoImg{
                position: relative;
                background-image: url('http://dimplify.com/images/upload-image-thumb.jpg');
                background-size: 120px 140px;
                min-height: 140px;
                min-width:120px;
                max-height: 140px;
                max-width:120px;
                display: inline-block;
/*                    display: none;*/
            }
            .canvasImageFile{
                display: none;
            }
            .addImgBtn{
                border: 1px solid black;
                height: 100px;
                width: 100px;
                font-size: 14pt;
                text-align: center;
                margin: 0 auto;
                line-height: 100px;
                position: relative;
            }
            .knownInformation{
                position: relative;
                display: none;
            }
            .uploadness{
                display: none;
                position: relative;
                border: 1px solid black;
                margin: 0px 2px auto;
                padding : 5px;
            }
            .uploadness textarea{
                display: inline-table;
            }
            .uploadness input{
                display: inline-table;
            }
            /*img{
                height:300px;
                width: auto;
                position: relative;
            }*/
            .imgCatalogueInfo{

            }
            #whoCreates{
                font-size:14pt;
                color:white;
                font-weight:bold;
            }

            .arrangeSection{
                display: block;
                position: relative;

            }
            .arrangeSection.parent{
                border: 2px solid blue;
                padding: 8px;

            }

            .arrangeSection.child{
                display: none;
                border: 2px solid red;
                padding: 5px;
            }
            
            div[relation="bucket"]{
                display: none;
                border: 2px solid green;
            }

            .selectedSection{
                background-color: black;
                color: white;
            }

            .rangeArrangementArea{
                display: inline-block;
                position: relative;
                border: 2px solid black;
                padding: 2px; 
            }

            